@page
@model Ignis.Pages_TechnicianList.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Technician</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Technician.Available" /> @Html.DisplayNameFor(model => model.Technician.Available)
                </label>
            </div>
            <input type="hidden" asp-for="Technician.Id" />
            <input type="hidden" asp-for="Technician.Name" />
            <input type="hidden" asp-for="Technician.DOB" />
            <input type="hidden" asp-for="Technician.Role" />
            <input type="hidden" asp-for="Technician.UserName" />
            <input type="hidden" asp-for="Technician.NormalizedUserName" />
            <input type="hidden" asp-for="Technician.Email" />
            <input type="hidden" asp-for="Technician.NormalizedEmail" />
            <input type="hidden" asp-for="Technician.EmailConfirmed" />
            <input type="hidden" asp-for="Technician.PasswordHash" />
            <input type="hidden" asp-for="Technician.SecurityStamp" />
            <input type="hidden" asp-for="Technician.ConcurrencyStamp" />
            <input type="hidden" asp-for="Technician.PhoneNumber" />
            <input type="hidden" asp-for="Technician.PhoneNumberConfirmed" />
            <input type="hidden" asp-for="Technician.TwoFactorEnabled" />
            <input type="hidden" asp-for="Technician.LockoutEnd" />
            <input type="hidden" asp-for="Technician.LockoutEnabled" />
            <input type="hidden" asp-for="Technician.AccessFailedCount" />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
