@page
@model Ignis.Areas.Identity.Pages.Users.ProfileModel

@{
    ViewData["Title"] = "Profile";
}

<h1>Profile</h1>

<!-- <p>
    <a asp-page="Create">Create New</a>
</p> -->
<table class="table">
    <thead>
        <tr>
@foreach(var item in Model.NamesOfProperties){


            <th>
                @Html.DisplayFor(Model => item )
            </th>
}
        </tr>


       
    </thead>
    <tbody>
        <tr>
             @foreach (var item in Model.Properties) { 
        <td>
          
         @Html.DisplayFor(Model => item )

            </td>
             }
        </tr>

    </tbody>
</table>
</table>
<div>
    <a asp-page="./Index">Back to List</a>
</div>